*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#0a0000,#d23fb0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
}
h1{
    color: #fff;
    margin: 10px;
}
.box{
    background-color: rgb(142, 29, 93);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform: transform 0.5s ease;

}
.box:nth-of-type(even){
    transform: translateX(-250%);
}
.box.show
{
    transform: translateX(0);
}
.box h2{
    font-size: 45px;
}